<div class="map-container">
    <div class="search-container">
        <div class="search-box">
            <input
                type="text"
                [(ngModel)]="searchQuery"
                (keyup.enter)="searchLocation()"
                placeholder="Sök ort..."
                class="search-input"
            />
            <button
                (click)="searchLocation()"
                class="search-btn"
                [disabled]="isSearching"
                title="Sök"
            >
                @if (!isSearching) {
                <mat-icon>search</mat-icon>
                } @else {
                <mat-icon class="spinner">refresh</mat-icon>
                }
            </button>
        </div>
    </div>
    <div class="map-controls">
        <div class="map-legend">
            <div class="legend-item">
                <mat-icon class="legend-icon green">location_on</mat-icon>
                <span class="legend-text">&gt;200 kW</span>
            </div>
            <div class="legend-item">
                <mat-icon class="legend-icon yellow">location_on</mat-icon>
                <span class="legend-text">100-200 kW</span>
            </div>
            <div class="legend-item">
                <mat-icon class="legend-icon red">location_on</mat-icon>
                <span class="legend-text">&lt;100 kW</span>
            </div>
        </div>
        <button
            class="control-btn"
            (click)="showUserLocation()"
            title="Visa min position"
        >
            <mat-icon>my_location</mat-icon>
        </button>
        <button
            class="control-btn"
            (click)="toggleSatelliteMode()"
            [class.active]="isSatelliteMode"
            [title]="isSatelliteMode ? 'Visa karta' : 'Visa satellit'"
        >
            <mat-icon>layers</mat-icon>
        </button>
    </div>
    <div class="map-wrapper">
        <div id="map"></div>
        <ng-content select="[map-fab]"></ng-content>
    </div>
</div>
